<!DOCTYPE html>
<html lang="es">
<head>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" />
	<link th:href="@{/css/main_menu.css}" rel="stylesheet" href="../static/css/main_menu.css" />
	<script th:src="@{/js/jquery-3.4.1.js}" src="../static/js/jquery-3.4.1.js"></script>
	<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Facrec</title>
</head>
<body>
	<header th:fragment="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 col-6">
					<img style="width:50px; height:50px;" th:src="@{/img/money-time.png}"/>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-0 col-0 "></div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-6 ">
					<a class="navbar-brand" href="#">Bienvenido: [[${#httpServletRequest.remoteUser}]]!</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-12">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
					  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  	
						    <ul class="navbar-nav mr-auto">
						      <li class="nav-item active">
						        <a class="nav-link" th:href="@{/tohol/home}" href="#">Home <span class="sr-only">(current)</span></a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" th:href="@{/facrec/home/dashboard}" href="#">Proyectos</a>
						      </li>
						      <li class="nav-item dropdown">
						        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						          Finanzas
						        </a>
						        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
						        	<a class="dropdown-item" th:href="@{/tohol/finanzas/config/gastos/view}" href="#">Dashboard</a>
						        	<div class="dropdown-divider"></div>
						        	<a class="dropdown-item" th:href="@{/tohol/finanzas/config/gastos/view}" href="#">Gastos</a>
							        <a class="dropdown-item" th:href="@{/tohol/finanzas/config/tipogasto/view}" href="#">Tipo Gastos</a>
							        <a class="dropdown-item" th:href="@{/tohol/finanzas/config/tipoingreso/view}" href="#">Tipo ingreso</a>
						        </div>
						      </li>
						      <li class="nav-item dropdown">
						        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						          Reportes
						        </a>
						        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
						          <a class="dropdown-item" href="#">Action</a>
						          <a class="dropdown-item" href="#">Another action</a>
						          <div class="dropdown-divider"></div>
						          <a class="dropdown-item" href="#">Catalogo de estatus</a>
						        </div>
						      </li>
						      
						    </ul>
						    <form class="form-inline my-2 my-lg-0">
						      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						    </form>
						    
						    <!-- Cerrar Sesion -->
						    <form th:action="@{/facrec/logout}" method="post">
						            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar Sesion</button>
						    </form>
				  		</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
					<hr>
				</div>
			</div>
		</div>
	</header>
	
	<div class="container-fluid">
	</div>
	
	<!-- Pie de pagina -->
	<footer th:fragment="footer" >
		<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-5 col-12 ">
					<img th:src="@{/img/nfl.png}"/>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-2 col-12 ">
				</div>
				<div class="col-xl-3 col-lg-3 col-md-5 col-12 ">
					<img th:src="@{/img/layout_icon.png}"/>
				</div>
		</div>
	</footer>
	
</body>
</html>
